@model IEnumerable<AssessmentNet.Models.Vehicle>

@{
    ViewData["Title"] = "Index";
}

<h1>Vehicles' list</h1>

<p>
    <a asp-action="Create" style="text-decoration: none; color: white; background-color: orangered; padding: 7px">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ownerId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ownerId)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" style="text-decoration: none">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" style="text-decoration: none">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" style="text-decoration: none">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
